@import 'normalize.css';

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*Base Styles*/

body {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
}

/*Layout Styles*/

#widget-container {
    padding-right: 15px; /*to make sure our content does not run directly to the edge and to set up the base for our 30px grid gutter*/
    padding-left: 15px;
    margin-right: auto; /*to auto center the container on the screen*/
    margin-left: auto;
    max-width: 600px; /*when you add the left and right padding with the max-width, you get 600px which is our large device breakpoint*/
}

.row {
    margin-right: -15px; /*since the .container has a padding of 15px, we add a margin of -15px to make it flush with the .container*/
    margin-left: -15px;
}

.row::after { /*to clear any floated elements inside the .row*/
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.cube--extended ul {
    padding: 0;
    margin: 0;
    height: 35%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.cube--extended li {
    list-style: none;
    font-size: .65rem;
    text-align: center;
    padding: 0 .2rem;
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cube--extended .cube__icon {
    height: 45%;
}

.cube--extended .cube__info {
    height: 20%;
}

.cube--extended li .owf {
    position: inherit;
    font-size: 1.2rem;
}

@media (min-width: 48em) {

    [class*="col-"] {
        text-align: center;
        float: left;
    }

    .col-1-3 {
        width: 33.3333%; /*define a one-third width column*/
    }

    .col-2-3 {
        width: 66.6666%;/*define a two-thirds width column*/
    }

    .cube {
        height: 200px;
    }

    .cube__icon {
        position: relative;
        height: 70%;
    }

    .cube__icon i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -32px;
    }

    .cube__info {
        height: 30%;
    }
}

@media only screen and (max-width : 47.9375em) { /*last media query minus a pixel*/

    .cube {
        position: relative;
    }

    .cube__icon {
        float: left;
    }

    .cube__info {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -7px;
    }

    .cube::after {
        content: "";
        display: table;
        clear: both;
    }

    .cube--extended ul {
        float: right;
    }

     .remove-gutter-xs {
        padding-right: 0px; /*remove paddings to flush with the window*/
    }
}

#search-form-container {
    max-width: 300px;
    margin: 15px auto;
    display: none;
}
/*Theme Styles*/

.cube--lightblue {
	background-color: #05b3db;
}

.cube--green {
	background-color: #4ed385;
}

.cube--deepblue {
	background-color: #6038f5;
}

.cube--yellow {
	background-color: #e3b63d;
}

.cube--red {
	background-color: #dc3d66;
}

.cube--magenta {
	background-color: #bd53cd;
}